

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid black;
  min-height: 62px;
}

nav {
  height: 60px;
}
nav ul {
  margin: 0;
}
nav li {
  display: inline-block;
  padding: 16px;
  border: 1px solid black;
}

li a {
  font-size: 1.5em;
}
header h1 {
  margin: 0;
  padding-top: 10px;
}