.items-container {
    max-width: 1200px;
    margin: 20px auto;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
}
.item {
    text-align: center;
    border: 3px solid white;
    color: black;
    background-color: lightsteelblue;
    width: 250px;
    height: 370px;
    margin: 20px;
}

.image {
    width: 120px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.qtyInput {
    max-width: 50px;
}

.imageBig {
    width: 330px;
    max-height: 550px;
    margin: 0 auto;
}

.desc {
    padding: 0!important;
    margin: 0!important;
}

.addToCart {
    max-width: 240px;
}
.center {
    margin: 0 auto;
    width: 240px;
}

.description {
    height: 100px;
}