.cart-container {
    max-width: 1200px;
    margin: 0 auto;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    align-items: center;
}

.cart-name {
    grid-column: 1 / 3;
}

.cart-qty {
    grid-column: 3 / 4;
}

.cart-price {
    grid-column: 4 / 5;
}

a :hover {
    background-color: grey;
}

.total {
    display: inline-block;
    margin: 10px;
}

.items {
    display: inline-block;
    margin: 10px;
}
.cart-submit {
    margin: 10px;
    
}

.cart-footer {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    height: 40px;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top: 1px solid black;
}

.checkout-container {
    display: inline-block;
}

.empty-msg {
    margin: 10px;
}